name: C++ CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: 
      - feature/*
      - notifier

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install build tools and linters
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            g++ \
            cmake \
            ninja-build \
            cppcheck \
            libzstd-dev

      - name: Clean build folder
        run: rm -rf build

      - name: Configure CMake
        run: cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build

      - name: Run cppcheck (lint)
        run: cmake --build build --target lint

      - name: Run tests
        working-directory: build
        run: ctest --output-on-failure
